{% extends 'master.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>FoodCloud Kenya</span></h1>
          <h2>Stop food lose and waste for the people and the planet</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'assets/img/about.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Foodcloud Kenya aims to address the food waste problem by connecting surplus food from businesses and individuals with local charities and communities in need, thereby reducing food waste and alleviating hunger and food insecurity. </h3>
            <p class="fst-italic">
              Our mission is simple: Implementing sustainable and innovative solutions that ensure surplus food reaches those in need, while also promoting long-term food security and advocating for policy changes to address the root causes of food insecurity.


            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Hunger-free Kenya, where all individuals have access to nutritious food and a future where surplus food is efficiently distributed to marginalized communities, reducing food waste..</li>
              <li><i class="bi bi-check-circle"></i> With our easy-to-use platform, ordering your favorite meals is just a few clicks away.</li>
              <li><i class="bi bi-check-circle"></i> Plus, with our commitment to sustainability, you can feel good knowing that
                  every order helps support local businesses and reduces food waste. </li>
            </ul>
            <p>
             Join us on a journey of flavor discovery and let Foodcloud Kenya bring the world of culinary delights
                directly to your doorstep.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Kenyan Culinary Mastery</h4>
              <p>Unmatched Kenyan culinary expertise and authenticity.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Fresh Locality</h4>
              <p>Commitment to using fresh, locally sourced ingredients.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Attentive Hospitality</h4>
              <p>Exceptional customer service and personalized attention to detail.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static 'assets/img/menu/lobster-bisque.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nyama Choma (Grilled Meat)</a><span>Ksh. 450</span>
            </div>
            <div class="menu-ingredients">
             Savory grilled meat, Kenyan barbecue delight.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static 'assets/img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Ugali (Maize Meal Staple)</a><span>Ksh. 50</span>
            </div>
            <div class="menu-ingredients">
              Traditional Kenyan maize meal, hearty staple.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static 'assets/img/menu/cake.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Sukuma Wiki (Collard Greens)</a><span>Kshs 50</span>
            </div>
            <div class="menu-ingredients">
              Nutritious greens, Kenyan comfort food essential.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'assets/img/menu/caesar.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Chapati (Flatbread)</a><span>Ksh 50</span>
            </div>
            <div class="menu-ingredients">
              Fluffy, flavorful Kenyan-style flatbread delight.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static 'assets/img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mandazi (East African Doughnut)</a><span>Ksh .50</span>
            </div>
            <div class="menu-ingredients">
              Sweet, fluffy East African doughnut delight.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static 'assets/img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kenyan-style Beef Stew</a><span>Ksh .650</span>
            </div>
            <div class="menu-ingredients">
              Hearty Kenyan beef stew, comforting classic.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'assets/img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Samosa (Stuffed Savory Pastry)</a><span>Ksh. 150</span>
            </div>
            <div class="menu-ingredients">
              Spiced savory pastry, delicious East African.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'assets/img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Pilau (Spiced Rice Dish)</a><span>Ksh. 450</span>
            </div>
            <div class="menu-ingredients">
              Fragrant spiced rice, Kenyan culinary favorite.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static 'assets/img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Matoke (Steamed Plantains)</a><span>Ksh. 150</span>
            </div>
            <div class="menu-ingredients">
             Steamed plantains, Kenyan comfort food essential.
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Nyama Choma (Grilled Meat)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Kenyan-style Beef Stew</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Mutura (Kenyan Blood Sausage)
</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Kenyan-style Fried Fish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Kachumbari (Tomato and Onion Salad)</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Description</h3>
                    <p class="fst-italic">Kenyan grilled meat, savory barbecue delight.</p>
                    <p>Nyama Choma: Kenya's grilled meat delight. Savory, succulent cuts, expertly seasoned and charred, offer a taste of tradition and community, perfect for sharing and savoring.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Description</h3>
                    <p class="fst-italic">Sweet Meal</p>
                    <p>Kenyan-style Beef Stew: A hearty, flavorful dish brimming with tender beef, aromatic spices, and vegetables, simmered to perfection. A comforting taste of Kenya's culinary heritage.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-2.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Description</h3>
                    <p class="fst-italic">Delicious Meal</p>
                    <p>Mutura: A Kenyan delicacy, Mutura is a traditional blood sausage made from a blend of minced meat, spices, and herbs, encased in a casing of intestines. Grilled to perfection, it offers a unique flavor experience, rich and savory, beloved by locals and adventurous eaters alike.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Description</h3>
                    <p class="fst-italic">Sweet Meal</p>
                    <p>Kenyan-style Fried Fish: Fresh fish coated in a flavorful blend of spices, then fried to golden perfection. Crispy on the outside, tender and flaky on the inside, it offers a taste of coastal Kenya's culinary heritage. Served with a side of tangy dipping sauce, it's a deliciously satisfying dish that captures the essence of seaside dining.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-4.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Descripttion</h3>
                    <p class="fst-italic">Delicious Meal.</p>
                    <p>Kachumbari: A vibrant salad featuring diced tomatoes, onions, and cilantro, tossed in tangy lemon juice and seasoned with salt and pepper. Refreshing and flavorful, it adds a burst of freshness to any meal, complementing spicy dishes with its cool, crisp texture. A staple of Kenyan cuisine, Kachumbari is a simple yet essential side dish that delights the palate with its bright flavors and colorful presentation.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-5.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->

{#    <section id="events" class="events">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="section-title">#}
{#          <h2>Events</h2>#}
{#          <p>Organize Your Events in our Restaurant</p>#}
{#        </div>#}
{##}
{#        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">#}
{#          <div class="swiper-wrapper">#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="row event-item">#}
{#                <div class="col-lg-6">#}
{#                  <img src="{% static 'assets/img/event-birthday.jpg' %}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-lg-6 pt-4 pt-lg-0 content">#}
{#                  <h3>Birthday Parties</h3>#}
{#                  <div class="price">#}
{#                    <p><span>$189</span></p>#}
{#                  </div>#}
{#                  <p class="fst-italic">#}
{#                    Birthdays are a time to celebrate life, love, and all the good things in between. At Foodcloud,#}
{#                      we specialize in creating magical moments that you'll cherish forever. Whether you're planning#}
{#                      an intimate gathering or a blowout bash, our team of event experts will work tirelessly to ensure#}
{#                      that your birthday celebration is nothing short of spectacular. From delicious food to stunning decor#}
{#                      , we'll take care of every detail so you can relax and enjoy your special day.#}
{#                  </p>#}
{#                  <ul>#}
{#                    <li><i class="bi bi-check-circled"></i>Create cherished memories with our expert assistance.</li>#}
{#                    <li><i class="bi bi-check-circled"></i> Personalized service tailored to your needs.</li>#}
{#                    <li><i class="bi bi-check-circled"></i> Trust us to deliver exceptional experiences every time.</li>#}
{#                  </ul>#}
{#                  <p>#}
{#                    Another year older, another year wiser – and another reason to celebrate at Foodcloud! Whether you're#}
{#                      ringing in a milestone birthday or simply celebrating another trip around the sun, our dedicated team#}
{#                      is here to make your special day unforgettable. From elegant decor to delectable cuisine, we'll take#}
{#                      care of every detail so you can relax and enjoy the festivities. Let us help you create memories that will last a lifetime.#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="row event-item">#}
{#                <div class="col-lg-6">#}
{#                  <img src="{% static 'assets/img/event-private.jpg' %}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-lg-6 pt-4 pt-lg-0 content">#}
{#                  <h3>Private Parties</h3>#}
{#                  <div class="price">#}
{#                    <p><span>$290</span></p>#}
{#                  </div>#}
{#                  <p class="fst-italic">#}
{#                   It's time to blow out the candles and make a wish – and there's no better place to do it than at Foodcloud!#}
{#                      Whether you're planning an intimate gathering or a large-scale extravaganza, our team of experienced#}
{#                      event planners will work tirelessly to ensure that your birthday celebration is nothing short of spectacular. From themed decor to delicious catering options, we'll take care of every detail so you can relax and enjoy the festivities. Let us help you create memories that will last a lifetime.#}
{#                  </p>#}
{#                  <ul>#}
{#                    <li><i class="bi bi-check-circled"></i> Welcome to our event planning hub!</li>#}
{#                    <li><i class="bi bi-check-circled"></i>Let us help you create unforgettable moments.</li>#}
{#                    <li><i class="bi bi-check-circled"></i> Customize your event to perfection with us.</li>#}
{#                  </ul>#}
{#                  <p>#}
{#                    Planning a birthday party can be stressful, but it doesn't have to be! Let Foodcloud take care of all the details so you can relax and#}
{#                      enjoy your special day. Our experienced event planners will work closely with you to create a personalized celebration that exceeds your expectations. From selecting the perfect venue to designing a mouthwatering menu, we'll handle everything so you can focus on making memories with your loved ones.#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="row event-item">#}
{#                <div class="col-lg-6">#}
{#                  <img src="{% static 'assets/img/event-custom.jpg' %}" class="img-fluid" alt="">#}
{#                </div>#}
{#                <div class="col-lg-6 pt-4 pt-lg-0 content">#}
{#                  <h3>Custom Parties</h3>#}
{#                  <div class="price">#}
{#                    <p><span>$99</span></p>#}
{#                  </div>#}
{#                  <p class="fst-italic">#}
{#                   Celebrate your birthday in style with Foodcloud! Whether you're turning one or one hundred,#}
{#                      we know how to make your special day extraordinary. Our dedicated team will work tirelessly to#}
{#                      ensure that every detail is perfect, from the decorations to the menu selection. Let us take the#}
{#                      stress out of planning so you can focus on creating memories with your loved ones.#}
{#                  </p>#}
{#                  <ul>#}
{#                    <li><i class="bi bi-check-circled"></i>Discover the perfect venue for your event with us.</li>#}
{#                    <li><i class="bi bi-check-circled"></i> Make your event planning stress-free and enjoyable.</li>#}
{#                    <li><i class="bi bi-check-circled"></i> Start planning your dream event today!</li>#}
{#                  </ul>#}
{#                  <p>#}
{#                   It's time to celebrate another trip around the sun, and there's no better place to do it than at Foodcloud! Our#}
{#                      stunning event spaces, delicious catering options, and attentive staff make us the perfect choice for your#}
{#                      birthday celebration. Whether you're planning an elegant dinner party or a fun-filled night out with friends, we'll work with you to create an unforgettable experience that you and your guests will cherish for years to come.#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#          </div>#}
{#          <div class="swiper-pagination"></div>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section>#}

      <!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Table</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->


{#    <section id="testimonials" class="testimonials section-bg">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="section-title">#}
{#          <h2>Testimonials</h2>#}
{#          <p>What they're saying about us</p>#}
{#        </div>#}
{##}
{#        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">#}
{#          <div class="swiper-wrapper">#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-item">#}
{#                <p>#}
{#                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                 A hidden gem in the heart of the city! Foodcloud's authentic flavors and friendly staff make it a must-visit destination#}
{#                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                </p>#}
{#                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">#}
{#                <h3>Stephen Mwakazi</h3>#}
{#                <h4>Ceo &amp; Founder</h4>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-item">#}
{#                <p>#}
{#                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                 The perfect place to celebrate any occasion! Foodcloud's ambiance and mouthwatering cuisine made my birthday unforgettable#}
{#                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                </p>#}
{#                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">#}
{#                <h3>Susan Achien'g</h3>#}
{#                <h4>Designer</h4>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-item">#}
{#                <p>#}
{#                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                Foodcloud is my go-to spot for delicious meals and impeccable service. I highly recommend it to all food enthusiasts#}
{#                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                </p>#}
{#                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">#}
{#                <h3>Damaris Jemutai</h3>#}
{#                <h4>Store Owner</h4>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-item">#}
{#                <p>#}
{#                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                  A culinary journey like no other! From the ambiance to the exquisite flavors, Foodcloud exceeded my expectations#}
{#                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                </p>#}
{#                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">#}
{#                <h3>Benson Wanyama</h3>#}
{#                <h4>Freelancer</h4>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-item">#}
{#                <p>#}
{#                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#                 An unforgettable dining experience! Foodcloud's attention to detail and exceptional service made my visit truly special#}
{#                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#                </p>#}
{#                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">#}
{#                <h3>Ronald Muyalaf</h3>#}
{#                <h4>Entrepreneur</h4>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#          </div>#}
{#          <div class="swiper-pagination"></div>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section>#}


      <!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->

{#    <section id="gallery" class="gallery">#}
{##}
{#      <div class="container" data-aos="fade-up">#}
{#        <div class="section-title">#}
{#          <h2>Gallery</h2>#}
{#          <p>Some photos from Our Restaurant</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">#}
{##}
{#        <div class="row g-0">#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-4">#}
{#            <div class="gallery-item">#}
{#              <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">#}
{#                <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section>#}
{#      #}
      <!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chefs</h2>
          <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{% static 'assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Master Chef</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="{% static 'assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Patissier</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
{#        <iframe style="border:0; width: 100%; height: 350px;" src="" frameborder="0" allowfullscreen></iframe>#}
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.835106324467!2d36.79912657568997!3d-1.272020235612178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1703ad0b0301%3A0x70f39db7e35d648d!2sFoodcloud%20Kenya!5e0!3m2!1sen!2ske!4v1708609356934!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Waiyaki Street, Nairobi, NRB 535022</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 2300 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+2541 155 397 99</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 {% endblock %}